bin/*
dist/*
doc/*
generated/*
resources/asm-docs/*
resources/bcel-docs/*
resources/xml/*
resources/SSELicenseEvaluation.*
Bootpath.*
debug.txt
dist.zip
lo
log
log1
Monitoring.*
MONITORING_MANIFEST.MF
rt_instr.jar
tmp.txt
todo.txt
/bin/
/deploy/
